[Unit]
Description=ROS2 Control gRPC Server
After=network.target

[Service]
ExecStart=/bin/bash -c '/opt/sailbot/run.sh /opt/sailbot/startup_server.py'
WorkingDirectory=/opt/sailbot/
Restart=always
RestartSec=2
User=sailbot

[Install]
WantedBy=multi-user.target
